<div class="container mx-auto mt-10">
    <!-- Header Section -->
    <div class="flex justify-between p-4 bg-blue-50 rounded-lg shadow-md">
        <span class="text-3xl font-bold text-blue-700">Notifications</span>
        <div class="flex gap-2">
            <button *ngIf="!allRead()" mat-raised-button color="accent" (click)="markAllAsRead()">Mark All as Read</button>
            <button *ngIf="anyNotifications()" mat-raised-button color="warn" (click)="deleteAllNotifications()">Delete All</button>
        </div>
    </div>

    <!-- Table Section -->
    <div class="overflow-x-auto mx-auto max-h-full shadow-lg rounded-lg mt-6 bg-white">
        <table class="table-auto w-full border-collapse">
            <thead class="bg-blue-600 text-white">
                <tr>
                    <th class="py-3 px-6 text-left border-b border-gray-200">Message</th>
                    <th class="py-3 px-6 text-left border-b border-gray-200">Type</th>
                    <th class="py-3 px-6 text-left border-b border-gray-200">Status</th>
                    <th class="py-3 px-6 text-left border-b border-gray-200">Timestamp</th>
                    <th class="py-3 px-6 text-left border-b border-gray-200">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngIf="notifications.length === 0 && !error && !loading">
                    <td class="py-3 px-6 border-t border-gray-200" colspan="5">No notifications found</td>
                </tr>
                <tr *ngIf="loading">
                    <td class="py-3 px-6 border-t border-gray-200" colspan="5">Loading...</td>
                </tr>
                <tr *ngIf="error">
                    <td class="py-3 px-6 border-t border-gray-200 text-red-500" colspan="5">
                        {{ error }}
                    </td>
                </tr>                

                <tr *ngFor="let notification of notifications" class="border-b hover:bg-gray-100 transition-colors">
                    <td class="py-3 px-6 border-t border-gray-200">{{ notification.message }}</td>
                    <td class="py-3 px-6 border-t border-gray-200">{{ notification.type }}</td>
                    <td class="py-3 px-6 border-t border-gray-200">{{ notification.status }}</td>
                    <td class="py-3 px-6 border-t border-gray-200">{{ notification.timestamp | date:'short' }}</td>
                    <td class="flex gap-4 p-2 border-t border-gray-200">
                        <button *ngIf="notification.status !== 'read'" mat-raised-button color="accent" (click)="markAsRead(notification._id)">Mark as Read</button>
                        <button mat-raised-button color="warn" (click)="deleteNotification(notification._id)">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
