<div class="container mx-auto mt-10">
    <!-- Header Section -->
    <div class="flex justify-between p-4 bg-blue-50 rounded-lg shadow-md">
        <span class="text-3xl font-bold text-blue-700">Resources</span>
        <button mat-raised-button color="accent" routerLink="/resource/add" [disabled]="nofarms">Add Resource</button>
    </div>

    <!-- Table Section -->
    <div class="overflow-x-auto mx-auto max-h-full shadow-lg rounded-lg mt-6 bg-white">
        <table class="table-auto w-full border-collapse">
            <thead class="bg-blue-600 text-white">
                <tr>
                    <th class="py-3 px-6 text-left border-b border-gray-200">Farm</th>
                    <th class="py-3 px-6 text-left border-b border-gray-200">Item Type</th>
                    <th class="py-3 px-6 text-left border-b border-gray-200">Quantity</th>
                    <th class="py-3 px-6 text-left border-b border-gray-200">Usage Date</th>
                    <th class="py-3 px-6 text-left border-b border-gray-200">Edit / Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngIf="resources.length === 0 && !error && !loading">
                    <td class="py-3 px-6 border-t border-gray-200" colspan="6">No resources found</td>
                </tr>
                <tr *ngIf="loading">
                    <td class="py-3 px-6 border-t border-gray-200" colspan="6">Loading...</td>
                </tr>
                <tr *ngIf="error && !loading">
                    <td class="py-3 px-6 border-t border-gray-200 text-red-500" colspan="6">
                        {{ error }}
                    </td>
                </tr>

                <tr *ngFor="let resource of resources" class="border-b hover:bg-gray-100 transition-colors">
                    <td class="py-3 px-6 border-t border-gray-200">{{ resource.farm }}</td>
                    <td class="py-3 px-6 border-t border-gray-200">{{ resource.itemType }}</td>
                    <td class="py-3 px-6 border-t border-gray-200">{{ resource.quantity }}</td>
                    <td class="py-3 px-6 border-t border-gray-200">{{ resource.usageDate | date:'yyyy-MM-dd' }}</td>
                    <td class="flex gap-4 p-2 border-t border-gray-200">
                        <button mat-raised-button color="accent" [routerLink]="'/resource/'+resource._id">Edit</button>
                        <button mat-raised-button color="warn" (click)="deleteResource(resource._id!)">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
